[2018-10-07 19:26] yochannah opened #1 "Update / refresh BOSC logo"
The [BOSC logo](https://github.com/OBF/bosc_materials/blob/master/logos/100px-Pear.png) is a little outdated and we'd like to refresh it.

Current logo:
![image](https://cdn.rawgit.com/OBF/bosc_materials/3723f923/logos/100px-Pear.png)

## Interested in helping out?
Any Outreachy applicant is welcome to give this a go, if you have some ideas! Maybe you'd like to create a graphic that reflects aspec

[2018-10-10 17:10] simran-pandey commented on #1
Hi!
I would like to contribute to this issue :)

[2018-10-10 17:13] yochannah commented on #1
Hey Simran, awesome! Feel free to message me or ask on the issue if you
have any questions

On Wed, 10 Oct 2018, 18:11 Simran Pandey, <notifications@github.com> wrote:

[2018-10-11 02:53] simran-pandey commented on #1
![bosc logo](https://user-images.githubusercontent.com/31364051/46777547-6cf4b900-cd2d-11e8-88e0-e4c0a14e9e35.png)

Hi @yochannah
This is something that I have created. I have kept the Pear theme as before and have added elements to depict the name **Open Bioinformatics Foundation**
Would be needing your feedback and suggestions on the same :) At the same time I'll try to come up with more options

[2018-10-11 02:56] simran-pandey commented on #2
Hey!
This looks interesting, Can I contribute to this too? :D

[2018-10-11 03:06] nlharris commented on #1
Hi Simran, thanks for this nice logo! What you have is correct--it should say Bioinformatics Open Source Conference. (I think it would be too confusing to *also* have it say OBF or Open Bioinformatics Foundation, though maybe there's some way to make that work.)

I would prefer if the colors were closer to the original BOSC pear (yellow and darkish green) and/or the softer green of the new OBF log

[2018-10-11 22:13] thepurpleana commented on #3
Hi! I'll be working on this :)

[2018-10-11 22:53] thepurpleana commented on #1
Hi! I was wondering, why is the logo a pear? I did some googleling and found out that Bosc is a kind of pear (I'm from Brazil, never heard of it before!) and it made me curious if there's another reason.

[2018-10-12 02:55] thepurpleana commented on #1
Is it ok if I give the logo redesign a try too?

[2018-10-12 04:01] simran-pandey commented on #2
![obf_logo_icon-circle-tr - copy](https://user-images.githubusercontent.com/31364051/46847020-e5c44580-cdff-11e8-9d65-b4eabebff8d6.jpg)
![obf_logo_icon-circle-tr](https://user-images.githubusercontent.com/31364051/46847030-f2e13480-cdff-11e8-9435-8824f9a59a0a.jpg)

I thought of giving your suggestion a go and I really liked how it gave the logo a dash of colors and a lot wider meaning. The open lo

[2018-10-12 04:09] simran-pandey commented on #1
![bosc logo 2](https://user-images.githubusercontent.com/31364051/46846971-aac21200-cdff-11e8-8e5e-4dbbcd1cbcf0.png)
Hi! I tried using the yellow and dark green of the old logo but the yellow text was impossible to read. I googled up and used a pear like green color. However I do feel that the logo is lacking an element which would depict OBF logo like *Open Source* nature. Would need your opinion

[2018-10-12 13:35] kushinauwu commented on #1
Hi! I'd like to try my hand at this :)

[2018-10-12 13:38] kushinauwu commented on #2
Hi, I see there's already nice ideas on this logo design, is it okay if I contribute to this as well? Is it still open for more contributors? Thanks! :)

[2018-10-12 13:43] yochannah commented on #2
@kushinauwu definitely! 👍

[2018-10-12 13:44] yochannah commented on #2
@simran-pandey Of the two I think I like the coloured lock better - but I'm curious what it might look like with the rainbow replacing the green rather than filling in the gaps?

[2018-10-12 13:44] yochannah commented on #3
@thepurpleana awesome!

[2018-10-12 13:45] yochannah commented on #1
@kushinauwu go ahead! :)

[2018-10-12 13:49] yochannah commented on #1
@simran-pandey you've made a nice start! I'm curious what your draft might look like with flush-right text - https://www.printwand.com/blog/basic-alignment-principles-in-graphic-design-with-examples

[2018-10-12 14:51] simran-pandey commented on #2
@yochannah Ah I thought that the green color of the logo was to be retained! I should probably make a version along the lines of your feedback above, then we can see how it'll look in comparison to other versions :)

[2018-10-12 14:57] simran-pandey commented on #1
@yochannah Thanks for linking the article above. I wasn't aware about the flush-right/left alignment. Will try and experiment with different text alignments and share :)

[2018-10-12 19:11] simran-pandey commented on #2
![logo 4](https://user-images.githubusercontent.com/31364051/46889178-6e82c600-ce80-11e8-86d9-a39be9d33290.jpg)

![option3](https://user-images.githubusercontent.com/31364051/46889123-48f5bc80-ce80-11e8-8463-8f1e5cea2f75.jpg)

Hey! These are the two versions that I have created. Do let me know how you feel about these :)

[2018-10-12 20:00] thepurpleana commented on #1
![img_9908](https://user-images.githubusercontent.com/24767117/46891338-ee3c7080-ce3f-11e8-9ddc-15ea6812fb92.JPG)
Hey there! I played around with some ideas, and did some drafts of what I'm thinking for the icon silhouette. What do you think? Those 4 highlighted are my top picks for now. Gonna digitalize them and work on some alternatives.

[2018-10-13 05:18] yochannah commented on #1
@thepurpleana Nice drafts! My personal favourite is the pear with the helix, but all four of the highlighted ones are nifty.

[2018-10-13 05:20] yochannah commented on #2
hmm, I think I like them both! Would be interested to hear if others have any feelings about this though... :)

[2018-10-13 08:15] simran-pandey commented on #1
![bosf logo 11](https://user-images.githubusercontent.com/31364051/46903050-2a79da80-ceed-11e8-9241-5a62ccf82b9c.jpg)

Hi! I was just wondering what if we make the **B** of Bioinformatics itself look like a pear?

[2018-10-13 09:07] kushinauwu commented on #3
Hi! Quick(silly) question, is the current style of the website supposed to be maintained? As in the current wiki style?

[2018-10-13 11:01] yochannah commented on #1
I'm loving seeing you all get inspired from one another! That's a nice draft, @simran-pandey

[2018-10-13 11:35] kushinauwu commented on #1
I'll try adding the text as well!
![bosc_1_bnw](https://user-images.githubusercontent.com/14867092/46904942-f52fb580-cf09-11e8-83b4-e716ba7c309b.jpeg)
Somewhat like this. Did you mean a strict black and white print?

[2018-10-13 13:47] yochannah commented on #1
@kushinauwu I think possibly having a strict black & white option might be necessary. While the translucent greys are pretty, I'm thinking that if this was printed out on a black&white printer in a small size (e.g. 1cm*1cm, perhaps at part of the heading for a document) then it might not be clear it's a pear+helix. Does that make sense? Here's some interesting /relevant reading:

- http://atelierl

[2018-10-13 14:51] kushinauwu commented on #1
I removed the blending and made the highlight solid
![slide1dfghiyt](https://user-images.githubusercontent.com/14867092/46906654-8f045c00-cf24-11e8-85d4-a74e45f32eba.png)

Here's a minimal version
![presentation2](https://user-images.githubusercontent.com/14867092/46906655-8f045c00-cf24-11e8-85a8-48980fdb4467.png)

[2018-10-13 15:02] kushinauwu commented on #1
Here's some versions I did with text earlier 😅
![presentation1_edited](https://user-images.githubusercontent.com/14867092/46906815-0c30d080-cf27-11e8-8639-b0106f6432db.jpg)

[2018-10-13 18:36] thepurpleana commented on #3
Hey there :) before drafting, I started researching other open source initiatives to see their websites and what works and what doesn't - thinking more about organisation and architecture information than anything else.

* The homepage for https://www.canonical.com is straight to the point, but very well divided. I think this model works great with the content in OBF's homepage.

* One example tha

[2018-10-13 18:42] kushinauwu commented on #1
@thepurpleana love your designs! They look so professional!

[2018-10-14 11:16] sakshi97 commented on #1
Hi! Great designs being discussed :) I would like to give the logo redesign a try as well.

[2018-10-14 13:29] sakshi97 commented on #1
![whatsapp image 2018-10-14 at 6 43 52 pm](https://user-images.githubusercontent.com/19373793/46917249-722e5e00-cfe2-11e8-848e-20da148954c5.jpeg)
 Hi @yochannah . Came up with a few drafts. The ones marked pink are my top picks. I was thinking the pear-shaped open lock might integrate well with the new OBF logo. Let me know what you think!
Will try to think of other alternatives as well.

[2018-10-14 15:37] yochannah commented on #3
@simran-pandey this is a nice start! Some small notes:

- I like the news highlights! I imagine this content would come from our blog feed.
- Some bits that are nice ideas but we probably don't need:
    - linkedin, facebook
    - physical map
    - phone number
- the tweets feed also looks nice!

It should be fine to experiment a bit - we absolutely value creativity!

[2018-10-14 19:53] yochannah commented on #1
So many great designs! ⭐️ ⭐️ ⭐️ ⭐️ ⭐️

The helix around the pear by @sakshi97 is nice - it looks like it would mesh with the OBF logo nicely.
@thepurpleana's half-open pear silhouette looks pretty nifty too!
@kushinauwu - liking the monochrome options!

[2018-10-15 02:29] yochannah commented on #1
BTW, y'all: I've set up a gitter chat: https://gitter.im/OBF/homepage - come by and say hi!!

[2018-10-15 02:36] yochannah commented on #1
@thepurpleana I just noticed you asked fo some feedback on your readme - I assume you mean this one? https://github.com/thepurpleana/homepage/tree/master/design-ideas/BOSC-logo-ideas it has some nice detail, good job! I especially like that you added font details.

[2018-10-15 03:03] nlharris commented on #1
It's so cool to see all these great new takes on the BOSC logo! One of my logo thoughts, though I’m not sure how it would actually look, is that the keyhole in the OBF logo looks like an upside-down pear. What if it were instead a rightside-up pear, and that pear could then become the BOSC logo (either by itself, or as part of the OBF logo, symbolizing the fact that OBF is the parent organization

[2018-10-15 03:46] kushinauwu commented on #1
@nlharris oh yes! Had thought about the keyhole pear and tried sketching it out, but it looked a little too small. I think we might be able to come up with a way to redesign it the way you suggested if the keyhole could be a little bigger too? Let's try it!

[2018-10-15 05:35] sakshi97 commented on #1
![whatsapp image 2018-10-15 at 10 08 24 am](https://user-images.githubusercontent.com/19373793/46930328-9c276500-d062-11e8-9ba2-dc1b6130ac28.jpeg)

Hi @nlharris. Tried out a few rough sketches. The current keyhole in OBF logo doesn't really look good turned upside-down. I think a 'man-shaped' keyhole resembles a pear better. Let me know what you think!

[2018-10-15 14:49] AndrezaSantana commented on #2
Hi,
I would like to contribute to this project.

[2018-10-15 16:16] AndrezaSantana commented on #2
![2](https://user-images.githubusercontent.com/44169394/46963483-26c88e00-d07c-11e8-8676-dac9f322d892.png)
![1](https://user-images.githubusercontent.com/44169394/46963561-62fbee80-d07c-11e8-8073-9a23fd22ed31.png)

Hi! These are two versions I created.
what do you think?

[2018-10-16 07:31] hasinifoss commented on #2
Hi everyone,

I'd like to propose this logo. I used the alternative rainbow colors to represent helix like shape of the logo.
![obf_logo_icon-circle-rainbow-colors](https://user-images.githubusercontent.com/2804179/46999534-84caa380-d158-11e8-85a7-f7e2179b726e.png)

[2018-10-16 13:43] CristianeNaves commented on #3
Hi! I'll be making a contribution too.

[2018-10-16 14:14] kblin commented on #3
I'm pretty open as to how we handle the GSoC pages. The current design is a clear example of what the game industry would call "programmer art": I needed something, and didn't have time to futz with things, so the placeholder I added during creating the page was kept around.

The basic design criteria we need for the GSoC pages are pretty straightforward:

* The ideas page needs to be structured b

[2018-10-17 16:08] kushinauwu commented on #1
![pear2_edrftgy7h8u_edited](https://user-images.githubusercontent.com/14867092/47100085-5205d580-d254-11e8-884e-07fdeb7cde7e.jpg)
Here's a single color icon idea.

[2018-10-17 17:33] ffelder commented on #1
I would like to contribute .

[2018-10-17 17:34] ffelder commented on #1
![bioinformatics logo](https://user-images.githubusercontent.com/42352362/47105239-478b1200-d23b-11e8-9ea6-39411f393bc1.png)

[2018-10-17 19:19] yochannah commented on #3
@CristianeNaves I like your choice of inspiration! The mocks look pretty good too - I like the way the dropdown menu at the top works. I'm guessing the green bit is hand-drawn - how would you implement it if you were doing it in a webpage rather than a mockup?

[2018-10-18 15:01] CristianeNaves commented on #3
@yochannah Thank You! I could implement it using one of the following ways:
* Using some free-use image that is related to bioinformatics.
* Or if it is not a very complex illustration I could create one.
* Or it could be a photo of contributors from OBF together, if there is any picture like that.
I'll attach some templates to better represent the idea. The idea of the second model is to put a ph

[2018-10-18 21:18] kushinauwu commented on #3
Hi, I made a base layout using some basic HTML + CSS.
-- An idea is to keep the homepage as a long page wherein we can easily see an overview of what OBS is all about. I can make a quick links tab as well maybe at the top so that the members can get to the links they care about more, i.e, the projects list, membership details, events, volunteering for BOSC, etc, while still keeping the site friend

[2018-10-19 22:07] anubhamane commented on #3
**Hello Everyone!
I know its already too late to start but as we say “better late than never”**, I am presenting my proposal here after careful observation of existing website, recommended design plans and suggestions from my beautiful co-applicants.
The implementation can be done in following **two ways by using two different tech stacks**-
1.	HTML+CSS+Javascript+Jquery+WordPress (Using CMS)
2.	P

[2018-10-20 13:00] jyox007 commented on #1
Hi,
I would like to contribute.

[2018-10-20 13:07] thepurpleana commented on #1
Wow! Some really nice ideas! You guys inspire me. Good job :D

[2018-10-20 14:01] jyox007 commented on #1
Kindly have look @yochannah

[2018-10-21 19:50] yochannah commented on #3
@kushinauwu Wow, you've put a lot of effort into that mock! I like the layout, but I think it's probably a bit too brightly colourful. Maybe a bit more toned-down would be good?

It might also be nice to vertically center the content in the header bar.

[2018-10-21 21:34] yochannah commented on #3
@anubhamane - your plans look good! A CMS is important as we don't want to require specific technical skills to update the site - I'd say Option 1 was the better of the two. Your code looks very neat, also.

[2018-10-21 21:35] yochannah commented on #3
@CristianeNaves the update pic is better! 👍

[2018-10-21 21:35] kushinauwu commented on #3
@yochannah Oh yes the header bar. I'll fix it so it is better aligned too and try using  a color that's a little more mild too, this one was just a temporary test. I'll fix that and try making another layout as well, so we have more options to choose. Thanks for the feedback! :D

[2018-10-21 21:38] kushinauwu commented on #1
@yochannah I am, the comment probably got lost in there. :) It's this one - https://github.com/OBF/homepage/issues/1#issuecomment-430689978

[2018-10-21 21:47] yochannah commented on #1
@kushinauwu thanks for the reminder 👍 I think the top bit of the helix doesn't quite merge with the left wall of the pear quite right but other than that it's pleasantly simple. I really liked your colourful ones too, though! :) 🍐

[2018-10-22 08:35] peterjc commented on #1
I liked the rainbow leaf idea in one of @sakshi97's images - that might even work with the old logo or some of the other contributions as an accent for events or publicity specifically promoting diversity.

[2018-10-22 12:09] jyox007 commented on #1
Hey @yochannah good to see you !
I did some changes kindly have a look.

![pear](https://user-images.githubusercontent.com/42260543/47290310-70f1c800-d5c4-11e8-9c6f-7ce581dd81e9.jpg)

[2018-10-22 13:06] myllah commented on #1
![main-text2 svg](https://user-images.githubusercontent.com/16190760/47292589-da320500-d5dd-11e8-9a72-f8f55b77af44.png)
![main svg](https://user-images.githubusercontent.com/16190760/47292590-da320500-d5dd-11e8-8731-34e043f9e1a2.png)
[BOSC logo.tar.gz](https://github.com/OBF/homepage/files/2501318/BOSC.logo.tar.gz)

I spent a few days scribbling over it. Then I mixed a pear and a lamp.

[2018-10-23 19:04] simran-pandey commented on #1
![logo - 4](https://user-images.githubusercontent.com/31364051/47383946-731e6880-d723-11e8-9877-e6a486f97494.png)
![logo - logo 2](https://user-images.githubusercontent.com/31364051/47383957-7ca7d080-d723-11e8-928f-fa1fb6759f7c.png)
![obf logo 1](https://user-images.githubusercontent.com/31364051/47383972-83364800-d723-11e8-88d2-dd4c61862e2a.png)
![logo - logo 3](https://user-images.githubusercont

[2018-10-24 11:08] nufina commented on #3
Hi! I'll contribute in this project.
I am sorry I am too late to join.
Hopefully I can catch up.
I have designed the homepage and some pages that still need some revision.
I'll post if I have finished it.

Btw, What color do you prefer?

[2018-10-25 15:01] jamessandy commented on #3
Hey guys

[2018-10-25 15:06] jamessandy commented on #3
![img-20181025-wa0002](https://user-images.githubusercontent.com/33603488/47510319-d7e6d980-d86f-11e8-9ad1-b546c9fb60eb.jpg)
@yochannah check out what I just did

[2018-10-25 15:08] jamessandy commented on #3
I have made research on how to implement it and I think it should be pretty easy, although am adding up some cool features and making it more open sourceee 😂😂😂

[2018-10-25 16:46] yochannah commented on #3
@jamessandy Nice draft - I like your colour scheme. I'd be interested in hearing more about your implementation plans, too!

[2018-10-25 16:58] jamessandy commented on #3
![img-20181025-wa0003](https://user-images.githubusercontent.com/33603488/47517214-6c0c6d00-d87f-11e8-8941-f7cb30d49015.jpg)
 So I made changes to design color will do well to send my implementation plan  @yochannah

[2018-10-25 19:36] kushinauwu commented on #3
Hey @yochannah :) I tried a newer layout. This one is a little more modern to fit the OBF theme more!
-- this mock  makes it so that every "learn more/read more" button opens up that section in a new tab. So for every section there's a separate page that can be accessed by the menu bar itself.
-- For the sections that have multiple subsections, like the events and travel fellowships section, we co

[2018-10-26 05:56] sakshi97 commented on #1
Hi @yochannah . Here is a draft of my idea. I went with a half-helix around the pear. Let me know if you feel the whole helix is more in-sync with the OBF logo.
![screenshot 19](https://user-images.githubusercontent.com/19373793/47547074-9f97d780-d911-11e8-8d44-b81802f59882.png)
![screenshot 20](https://user-images.githubusercontent.com/19373793/47547080-a3c3f500-d911-11e8-9ccf-750faa2e9ca8.png)

[2018-10-26 08:00] jamessandy commented on #3
@yochannah so now I played around with the color scheme Abit to see if you'll like it
![img-20181025-wa0003](https://user-images.githubusercontent.com/33603488/47552884-9b61bf00-d8fd-11e8-8b2e-17f00953e5c0.jpg)

[2018-10-26 15:08] jamessandy commented on #2
Hello @yochannah so I tried playing around the logo and I did something new instead of the former but I'll also drop the present logo
![img-20181026-wa0006](https://user-images.githubusercontent.com/33603488/47575174-58254180-d939-11e8-98b2-78e09b44ff8c.jpg)
when I changed the color

[2018-10-26 15:09] jamessandy commented on #2
@yochannah you like it ?

[2018-10-26 20:29] yochannah commented on #2
@jamessandy yes, it's pretty - thanks! I likethe colours and the sort of "bubbly" feel it has.

We actually just _really_ recently [updated our logo](https://github.com/OBF/obf-docs/issues/43), but it's really lovely to see your creativity and design skills 👍

[2018-10-26 20:33] jamessandy commented on #2
It's a pleasure @yochannah  will do well to drop the new color scheme I implemented on the  present logo

[2018-10-26 20:44] jamessandy commented on #3
Hello @yochannah in regards to how I am going to implement my design. I'll code the front end with HTML, css and JavaScript and then convert it to a wordpress template or theme and then I'll install it on wordpress or otherwise I can use wordpress pagebuilder to implement it. Most open source orgs prefer using Django (Drupal CMS) to develop their site if that is alos considered I will can also do

[2018-10-26 20:44] yochannah commented on #2
we'd love to see that! :)

[2018-10-26 21:19] yochannah commented on #1
So many nice contributions! @sakshi97 - the way the logo outline becomes the helix and merges in perfectly is nice! I think I like the leafy version better.

@simran-pandey wow, more logo contributions!

@myllah - The hand-drawn style and light bulb look is really unique! Can I ask what software you used to make it?

If I've missed anyone please let me know! <3 <3 <3

[2018-10-28 20:38] nufina commented on #3
Hello @yochannah,

This is my homepage design. My design is clean and simple. In term of how to implement it is by using WordPress template and WordPress plugins. WordPress is easy to use so it will be easy to maintain. The WordPress plugins will help us to add some features such as event calendar, contact form, donate page, etc more easily. We can also get a dynamic website with responsive design

[2018-10-29 08:58] jamessandy commented on #1
Hello @yochannah this is the logo redesign I did for BOSC I tried maintaining the color and the peat itself, hope you like ☺️☺️

![img-20181029-wa0012](https://user-images.githubusercontent.com/33603488/47639188-f6dfb700-db60-11e8-8c6b-c3333ca330db.jpg)

[2018-10-29 09:03] jamessandy commented on #2
Ok @yochannah am back and this time I tried maintaining the original colors but made it aimpler and straight forward
![img-20181029-wa0011](https://user-images.githubusercontent.com/33603488/47639534-cf3d1e80-db61-11e8-9cdf-e7b666016459.jpg)

[2018-10-29 09:50] peterjc commented on #1
@jamessandy I like the idea of an _open_ pear as a visual link to the open source / open science focus of BOSC. However, your logo looks like an Avocado pear (emoji 🥑), rather than traditional pear (emoji 🍐) from the Rosaceae plant family like apples - which is what we've used thus far. Little black seeds might be harder to draw and look good with a small logo though?

[2018-10-29 17:29] jamessandy commented on #1
@peterjc I think I would have to change the shape of the pear then 😉😉😉

[2018-10-29 20:51] yochannah commented on #1
@jamessandy - The reason we use pear is because one type of pear is a "bosc pear" - https://en.wikipedia.org/wiki/Bosc_pear

An image for inspiration how pears could look internally might be something like:
![image](https://user-images.githubusercontent.com/9271438/47679432-2bcd2780-dbbc-11e8-86d8-84aeef61e51e.png)

P.S. the design style above is very nice (I like the vector approach), so long as

[2018-10-30 02:44] myllah commented on #1
The software is called Autodesk SketchBook. I really recommend it. There are many colors, pens, pencils and brushes to choose.

[2018-10-30 17:01] CristianeNaves commented on #3
@yochannah I still did not answer how I could implement the mock-up I put here a few days ago. For this I would use Wordpress for CMS and use CSS, HTML and JavaScript. And I could split tasks by functions, for example, task 1- About Us, task 2- GSoC, task 3 - Blog, each task would be a section of the site.

[2018-10-31 20:55] kushinauwu commented on #3
Hi @yochannah ! I made a few elements of the homepage here with some free to use placeholder images.
-- I used a little Bootstrap to style everything better and ended up deviating a little from the original mockup I posted. I'll just post the screenshots for now as my code isn't very polished yet and I have yet to add JS animations.
-- The links that are differently colored in the news and fellows

[2018-11-01 17:52] jyox007 commented on #3
![monk-up](https://user-images.githubusercontent.com/42260543/47869332-b4beab80-ddd4-11e8-8896-6c106ecfb74e.png)

[2018-11-01 18:08] jyox007 commented on #3
[monk-up 1.pdf](https://github.com/OBF/homepage/files/2539511/monk-up.1.pdf)

[2018-11-01 18:08] jyox007 commented on #3
[monk-up2.pdf](https://github.com/OBF/homepage/files/2539533/monk-up2.pdf)

[2018-11-02 21:50] kushinauwu commented on #3
Hey @yochannah !
Here's the code to whatever I have currently done : [OBF Homepage](https://github.com/kushinauwu/Theme-2)
I changed up some buttons and the navbar items order from my previous screenshots. Added some JS as well to make some things smoother. Let me know what you think! :D

[2018-11-04 10:12] jamessandy commented on #3
Hello @yochannah  I have finally finished my mock up design 😊😊 I'll be happy if you or any other person can review. Will start implementation right away. PS. I added no pics because I had access to none. File is too large but will create a PR

[2018-11-04 10:13] jamessandy commented on #3
![fb_img_15412813916586273](https://user-images.githubusercontent.com/33603488/47962810-89c99700-e022-11e8-9b99-7214c8e0dd82.jpg)
 This is of low quality... So it may look bad

[2018-11-04 18:52] kushinauwu commented on #3
Hi
I added a Projects Section as well, here's the screenshot.
![new canvas](https://user-images.githubusercontent.com/14867092/47968481-9b498800-e090-11e8-9554-1a6980bd1c62.png)
The code is in the same repo as my previous comment which is https://github.com/kushinauwu/Theme-2. Please let me know how to improve further on this :)

[2018-11-04 20:06] yochannah commented on #3
Okay, some more small bits of feedback:

@jamessandy - the mock is pretty, but it's a shame I can't see details very well! 🔍
@kushinauwu - your repo is good! If you have time, can you enable github pages? It'll make it easier for the OBF team to review it when we are reviewing final applications. 👍
@jyox007 thanks for sharing your mock on GitHub as well as via email! 😄

[2018-11-04 20:11] yochannah commented on #3
Feedback for **everyone**: We have less than two days before final applications are due. If you haven't started yet, now's the time to _focus on writing your application_. I'll do my best to answer any questions but try not to leave things until the last minute. Also, try asking your questions on [gitter](https://gitter.im/OBF/homepage) - sometimes another Outreachy applicant might be able to answ

[2018-11-05 16:58] jamessandy commented on #1
Hello @yochannah  i tried reshaping and this is what i came up with.
![whatsapp image 2018-11-05 at 16 54 00](https://user-images.githubusercontent.com/33603488/48013326-f70d2300-e11b-11e8-9855-952ffce3fcbd.jpeg)

[2018-11-05 17:23] JSENL commented on #3
Hello I am interested, I updated the Home Page
I used Bootstrap as I like to see the javascript and css principles in work and then can upload/update it via WordPress.
The application is in the process of being complete today.
![image](https://user-images.githubusercontent.com/32881663/48014770-72a7a980-e0f5-11e8-8c02-73351be2965b.png)
![image](https://user-images.githubusercontent.com/32881663/48

[2018-11-05 18:09] JSENL commented on #2
Hello, I tried my idea of the logo, it would be a layered multi-color with x and y dimensional shifts. I am still working on the opacity for the right color, but it should have a slight green overlay with a somewhat 'ghost' like background.
![logosignredo](https://user-images.githubusercontent.com/32881663/48017334-0aa89180-e0fc-11e8-9fa2-3d56b8f23c2c.jpg)

[2018-11-06 00:02] JSENL commented on #1
I tried a more geometrical lined idea, it's a work-in-progress
![peardrawingi](https://user-images.githubusercontent.com/32881663/48034402-46a81a80-e12d-11e8-90e4-ccbe883f1689.png)

[2018-11-06 06:05] khailda commented on #3
![obf_homepage](https://user-images.githubusercontent.com/25788497/48045715-57b15580-e146-11e8-94e1-f74fa4f3a558.png)
Hy i am participating in Open Bioinformatics Foundation  .

[2018-11-06 13:04] S-Garg338 commented on #3
Hi, I'll be making a contribution too.

[2018-12-02 11:52] yochannah commented on #1
Hey all - Looking over this issue there were _so many_ amazing designs. Since we've selected an intern and are moving on to the implementation phase I'll be closing this issue, but please remember - you are all awesome and we were privileged to have you work on our issues, even temporarily <3 ✨ 💖 🦄

[2018-12-02 11:52] #1 closed

[2018-12-02 11:52] yochannah commented on #2
Hey all - Looking over this issue there were _so many_ amazing designs. Since we've selected an intern and are moving on to the implementation phase I'll be closing this issue, but please remember - you are all awesome and we were privileged to have you work on our issues, even temporarily <3 ✨ 💖 🦄

[2018-12-02 11:52] yochannah commented on #3
Hey all - Looking over this issue there were _so many_ amazing designs. Since we've selected an intern and are moving on to the implementation phase I'll be closing this issue, but please remember - you are all awesome and we were privileged to have you work on our issues, even temporarily <3 ✨ 💖 🦄

[2019-03-11 22:35] yochannah opened #2 "Change Slabo 27px font to something more bold-friendly"
On this page: https://www-dev1.open-bio.org/events/bosc/ the bold is either not bold at all, or only visibly slightly bold. I think this is because the font doesn't have a bold weight at all - see https://fonts.google.com/specimen/Slabo+27px

We could replace it with a similar serif slab font, maybe?

<img width="375" alt="image" src="https://user-images.githubusercontent.com/9271438/54162402-4149

[2019-03-11 22:47] yochannah opened #3 "Convert footer to widget area"
https://github.com/OBF/homepage/blob/b1024c78e05035485a3ab84f7a1bde28c9a900c8/footer-bosc.php

the content in the footer should be editable - can we make it a widget area?

https://codex.wordpress.org/Widgetizing_Themes

[2019-03-14 04:30] nlharris commented on #3
Is this so we can fix the issue with the hashtag wrapping in the footer?
![Screen Shot 2019-03-13 at 9 27 49 PM](https://user-images.githubusercontent.com/348704/54331419-2a365600-45d7-11e9-8496-865a5d3e4d6a.png)
(weirdly, the wrapping seems to have changed slightly--it's now #bosc20  19 but the other day I'm pretty sure it was #bosc201  9!)

[2019-03-14 05:07] nlharris opened #5 "OBF news out of date"
https://www-dev1.open-bio.org/blog/ is missing the latest few posts on https://www.open-bio.org/wiki/News
I hope it doesn't have to be hand-updated?

Also (not as major), why do some of the blog posts show up with images and some don't, even though they contain images (e.g. the City of Roses post)?

[2019-03-14 05:08] nlharris commented on #5
@yochannah, I hope this is the right tracker to use!
I don't seem to have permission to assign issues.

[2019-03-14 05:14] gedankenstuecke opened #6 "Collapsed menu not working"
![0C1FF999-2AFC-4375-A9B0-09952AAEB69B](https://user-images.githubusercontent.com/674899/54332827-3a513400-45dd-11e9-9b89-0ad388b331c3.png)

I tried the mobile view on the latest iOS and I noticed that the menu bar doesn’t seem to work. You can uncollapse it, but you can’t click any of the menu items.

[2019-03-14 05:15] gedankenstuecke commented on #6
Actually, let me correct myself. You can click the top level menu items. But eg Events & Projects doesn’t work.

[2019-03-15 19:09] nlharris commented on #5
Latest news list also out of date on home page (https://www-dev1.open-bio.org/)

[2019-03-17 15:12] yochannah opened #7 "Need a backup strategy"
Right now I'm not sure if new content is backed up in any way

[2019-03-17 18:12] #2 closed, assigned to yochannah

[2019-03-17 20:52] nlharris commented on #5
I think this is the last remaining major issue that I hope can be solved before we go live. (If it's hard to solve, maybe we could hand-update the news lists for now?)

[2019-03-17 22:39] yochannah commented on #5
I think this should be fixed now! Thankfully it's just a matter of using the tools menu to export posts with a certain date then importing them to the other wordpress.

[2019-03-17 22:39] #5 closed, assigned to nobody

[2019-03-17 22:56] yochannah commented on #3
It's why I noticed it, but not quite the same thing - we don't want to have to edit the theme code to change that hashtag, for example - it would be better to be able to have it managed by the CMS.

[2019-03-17 23:03] yochannah opened #9 "Top sentence of the board page isn't editable"
https://github.com/OBF/homepage/blob/master/board.php#L17 - this sentence should be editable too as part of the [board](https://www-dev1.open-bio.org/board/) page!

[2019-03-17 23:07] yochannah opened #10 "If post has images but no featured image, use the first image as a featured image"
Some pages have images but don't have a set feature image. In this case, (example blog post here: https://www-dev1.open-bio.org/2019/03/13/a-week-of-open-source-adventures-in-san-diego/ ) we should make sure to set the first image to act as the feature image.

[2019-03-18 01:14] hlapp commented on #7
Yes, it’s backed up, with one week retention. Do we need longer?

[2019-03-18 06:08] nlharris commented on #5
Great! Will this process have to be repeated the next time we have a new blog post?

[2019-03-18 20:41] yochannah commented on #7
That sounds sufficient. what sort of backup is it taking?

[2019-03-18 20:49] hlapp commented on #7
Would you like to inspect the backup files? They are compressed code and database dump archives.

[2019-03-18 20:50] yochannah commented on #5
It'll only be an issue if we haven't migrated to the new site next time we write a blog - once we're migrated to the new site we'll need to give everyone access to the new site and stop updating the old news site.

[2019-04-02 20:33] yochannah opened #12 "Add gitter chat to footer"
For footer-bosc, the link should be https://gitter.im/OBF/BOSC_community

for generic footers, the link should be https://gitter.im/OBF/Lobby

Also use a gitter icon from flaticon.com.

[2019-04-02 22:09] nlharris opened #13 "Bad link to Board meeting minutes"
(See also issue #9 -- not sure how to link it here)
On https://www.open-bio.org/board/
The minutes of the previous meetings can be found **here**.
"here" links to a bad URL.

(I thought we had fixed that already? Maybe that was a different place?)

[2019-05-01 19:57] yochannah opened #15 "Better comment gravatar layout"
Currently the layout is a bit odd. Maybe left-align pics beside the comments?
<img width="1093" alt="image" src="https://user-images.githubusercontent.com/9271438/57039102-a5210200-6c53-11e9-9ecb-cd63a22c12fb.png">

[2019-05-01 20:42] yochannah opened #16 "Breadcrumbs need better padding"
example: https://www.open-bio.org/events/bosc/bosc-2019-keynote-building-infrastructure-for-responsible-open-science-in-africa/ - breadcrumbs touch the left of the page edge.

[2019-05-08 21:10] nlharris opened #17 "Make it easier to add/change sponsors on open-bio.org/events/bosc/sponsors/"
I think we should move the current sponsors to the top. Let's have the BOSC sponsors first, and then (smaller) the CoFest-only sponsors. Google Cloud should be listed in both.

CoFest sponsors should also be added to the CoFest page.

Also need to add new sponsors to https://www.open-bio.org/events/bosc/ (and if possible, fix the layout of the sponsor logos--I couldn't get them to line up vertical

[2019-05-08 21:11] nlharris commented on #17
(Yo, sorry for assigning this to you--I can work on it if you don't have time)

[2019-05-09 05:03] nlharris commented on #17
(closed by accident)
https://www.open-bio.org/events/bosc/about/ also has the sponsors listed at the bottom. I added the two other BOSC sponsors. Should we also add the CoFest sponsors? (Maybe not on this page)

[2019-05-15 13:57] yochannah opened #18 "homepage content - too wide for single column text pages"
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/9271438/57781181-993c4200-7721-11e9-8449-80f0e847f0bb.png">

See screenshot above - should have a maximum width with padding on both sides for wider screens. Also suggest we try a easier-to-read font, possibly arial.

[2019-05-21 16:31] peterjc commented on #17
CoFest sponsor to be added here:
https://www.open-bio.org/events/bosc/collaborationfest/

[2019-05-21 16:32] peterjc opened #19 "Avoid all capital section formatting?"
e.g. https://www.open-bio.org/events/bosc/collaborationfest/ where the mixed case in CoFest or CollaborationFest is lost.

[2019-05-21 17:34] nlharris commented on #17
Can we add @heuermh to this conversation?

[2019-05-21 17:34] nlharris commented on #19
Yeah, I kind of hate the all-caps too.

[2019-05-21 17:58] heuermh commented on #17
Yep, you just did.  :wink:

[2019-05-21 18:35] heuermh opened #20 "Add sponsors to open-bio.org/events/bosc/collaborationfest"
See https://github.com/OBF/homepage/issues/17#issuecomment-494464505

[2019-05-21 18:36] heuermh commented on #17
Could I be added as a project owner here?  I am not able to assign the new issue #20 to myself.

[2019-05-21 18:38] heuermh commented on #19
All of the margins/padding/spacing around header tags (H1, H2, H3, ...) need adjusting.  There should be significantly more whitespace on top and more whitespace on the bottom.

[2019-05-21 18:41] heuermh commented on #18
There should also be more whitespace vertically between paragraphs/blocks, and slightly larger line height compared to font size, especially for lists (OL, UL).

[2019-05-21 20:23] hlapp commented on #17
You should be able to now. Shout if not.

[2019-05-21 21:41] heuermh commented on #17
Thank you, @hlapp

[2019-05-22 08:42] peterjc commented on #19
I think you’re right - certainly a little more vertical space above section titles would help.

(It makes sense to discuss that here since it will likely be the same style definitions to tweak)

[2019-05-22 21:34] yochannah commented on #17
I think current sponsors are up to date on the sponsors page, and we have an issue open for collaborationfest. Closing this issue.

[2019-05-22 21:47] yochannah commented on #16
this is only for very long page titles and I think is session or history based as the long breadcrumbes don't always show up?

[2019-05-22 22:01] yochannah commented on #7
This sounds fine - closing issue as it seems we have things in hand

[2019-05-22 22:01] #7 closed, assigned to nobody

[2019-05-22 23:57] nlharris commented on #17
Thanks, all! For future reference, the pages that include sponsor logos are:
1. https://www.open-bio.org/events/bosc/ (now up to date)
2. https://www.open-bio.org/events/bosc/about/ [Peter: since removed]
3. https://www.open-bio.org/events/bosc/schedule/ [Peter: updated]
4. https://www.open-bio.org/events/bosc/sponsors/ (updated)
5. https://www.open-bio.org/events/bosc/collaborationfest/ [Peter: u

[2019-05-23 11:06] peterjc opened #22 "Tweaking past sponsors listing"
We have logos of past sponsors here:

https://www.open-bio.org/events/bosc/sponsors/

None of the logos are clickable links - should they be?

The current display always using the same width has left some of the logos are comparatively small (e.g. GigaScience), and others larger (e.g. the squares for F1000 or PeerJ). I would like to make the landscape logos a little wider, and the square ones a li

[2019-05-23 11:13] #13 closed, assigned to nobody

[2019-05-23 11:14] peterjc commented on #16
Closed via #21

[2019-05-23 11:16] peterjc commented on #16
It should be closed - I should probably wait for the page to update before closing.

[2019-05-23 15:07] yochannah commented on #19
We'll need @hlapp to do the deploy as there isn't an auto pipeline in place.

On Thu, May 23, 2019 at 4:05 PM Peter Cock <notifications@github.com> wrote:

[2019-05-23 15:11] peterjc opened #23 "Document how style updates are deployed"
Currently any changes to the style made here on GitHub require manual upload to the server to go live. We should document this, perhaps in the ``README.md`` (bus factor etc).

[2019-05-23 15:11] peterjc commented on #19
Documenting deployment logged as #23 (sorry I moved my earlier comment to #21).

[2019-05-23 18:06] nlharris commented on #23
+1

[2019-05-23 22:02] nlharris commented on #22
Yes, I had noticed that the past sponsor logos are not linked. I feel that's ok, as that's a benefit for our current sponsors and not something we should be responsible for in perpetuity, especially as the links may change in time.
I agree with your suggestion about adjusting logo sizes.

[2019-05-24 10:07] peterjc commented on #20
AWS logos here (although we have one on the server already which is likely the same bitmap):

https://boofcode.s3.amazonaws.com/files/AWS%20Print%20Quality%20Logos.zip

[2019-05-27 16:41] hlapp commented on #23
I have configured the `obf-new` theme directory on Wordpress now as a git repo clone of sorts off the master branch. Can someone (@peterjc, @nlharris, @yochannah?) check and green light whether the results include all the recent changes?

If yes, we would just need a cron job that does a `git pull` regularly, perhaps every night or something?

[2019-05-27 16:45] hlapp commented on #23
And FYI, I say _clone of sorts_ above because it is not simply a clone, but the repo contents overlaid over what WP had put there itself.

It turns out that this includes a lot of files that _are not_ in the repo, including PHP files at the theme root directory. Could someone (@yochannah?) please cross-check these that this looks OK, and not indicative of files that should be under version control

[2019-05-27 20:00] peterjc commented on #23
Mixed case section headers is now working from phone, will check rest later from a computer.

[2019-05-28 08:28] peterjc commented on #23
Confirmed, on a big screen I am now seeing the text width limited, more vertical white space on section headers, and mixed case section headers. This git-based approach seems to work.

How often a cron job would be frequent enough? Hourly?

[2019-05-28 08:29] peterjc commented on #19
Deployed, closing. Thanks all.

[2019-05-28 08:29] #19 closed, assigned to nobody

[2019-05-28 08:30] peterjc commented on #18
Deployed, most of that seems to be working nicely - a big improvement for me on the text heavy pages.

@heuermh are you happy with the lists now (OL, UL)?

[2019-05-28 09:09] peterjc commented on #20
Closed, thank you Alex.

[2019-05-28 09:09] #20 closed, assigned to heuermh

[2019-05-28 11:14] peterjc commented on #20
Thanks due to @apeltzer 👍

[2019-05-28 14:53] hlapp commented on #23
Are we going to be merging changes several times a day on a frequent basis? I've set it to once nightly right now, and even that seems far more frequent than changes happen on average. It does give the expectation though that changes merged into master should show up in deployment by the following day.

[2019-05-28 15:08] peterjc commented on #23
Nightly should be fine for now - in a month or two we can probably drop it down to weekly if the work load needs minimising?

[2019-05-28 15:26] heuermh commented on #18
I'm not sure the list changes applied all across the site, note the difference here between the Important Dates and Section Topics lists.  Or perhaps some other formatting constraints are happening there, to make both blocks the same height.

<img width="1355" alt="screenshot" src="https://user-images.githubusercontent.com/35293/58490606-15c41d00-8133-11e9-8e4b-8f94cc3bd64b.png">

[2019-05-28 21:50] nlharris opened #24 "OBF home page now has too much whitespace on top left"
I like the smaller font better, but now that the text is taking up less space, there's an awful lot of excess whitespace around the little bit of text near the top left of the OBF home page. Not urgent, but can we think of a way to make that look better? I suppose we could replace the photo there with a less-tall photo, though I really like the current photo.
<img width="1868" alt="Screen Shot 201

[2019-05-28 23:00] nlharris commented on #23
Thank you, @hlapp and @peterjc!

[2019-05-29 09:06] peterjc commented on #23
@hlapp when you have a chance, could you add a few notes on the deployment setup to this repositories README file? Thanks. Draft:

As an aside, perhaps we should add some of the untracked files to the ``.gitignore`` file? e.g. ``wp-*.php`` (WordPress files), ``img/*.png``, ``img/*.jpg`` and ``img/*.svg`` (which I assume are backed up with the site's text content).

I don't know enough about WordPr

[2019-05-31 11:26] peterjc commented on #17
Done for now, but we have a seventh BOSC sponsor to add now

[2019-05-31 11:27] peterjc commented on #17
Also, with MediaWiki we had access to template and snippets for reused fragments of content - perfect for things like the sponsorship blocks here which are used on multiple pages.

I am unclear if and how we can do that with the WordPress blocks?

[2019-05-31 11:34] yochannah commented on #17
I have been thinking about this a lot since it has been a big pain. How
does this plan sound?

1) create a page that allows us to edit the logos much the way we can edit
board members, with fields for image, url, title, year and sponsor-type
(e.g. collaborationfest vs bosc)
2) figure out what needs to be done to a) insert blocks easily and b)
retire them as the next year comes around

On Fri, May

[2019-05-31 11:53] peterjc commented on #17
If the tagging makes it easy to insert "BOSC 2019" or "BOSC 2020" or "CoFest 2019", and any logo can have multiple tags - great plan!

[2019-06-03 09:19] peterjc commented on #18
Can we apply the width changes to the blog pages too?, e.g.
https://www.open-bio.org/2019/05/31/travel-award-recipients-for-april-2019/

[2019-06-03 10:30] tbm opened #25 "Broken link on Board of Directors page"
Peter Cock's entry at https://www.open-bio.org/board/ links to BioPython and the link is broken. The correct one is https://biopython.org/

[2019-06-03 20:28] yochannah commented on #25
Thanks @tbm!

@peterjc fyi - fixed to the link provided by @tbm, but of course feel free to adjust if needed.

[2019-06-03 20:28] #25 closed, assigned to nobody

[2019-06-03 22:10] nlharris opened #26 "Change bosc-announce link in footer"
The link to the bosc-announce mailing list from the letter icon in the footer should be changed to https://groups.google.com/forum/#!forum/bosc-announce

[2019-06-04 05:12] nlharris commented on #26
Issue #12 is related.

[2019-06-04 05:13] nlharris opened #27 "Duplicate keynote page"
https://www.open-bio.org/events/bosc/bosc-2019-keynote-building-infrastructure-for-responsible-open-science-in-africa/ duplicates https://www.open-bio.org/events/bosc/keynotes/
I think the latter should be the official page, but note that there is a tweet that references the former, so if there's a way to make that URL redirect to the second one, that would be good.

I gave up on making the format

[2019-06-04 18:19] peterjc commented on #25
Looks good, thanks both

[2019-06-04 20:48] yochannah commented on #16
this is deployed now :)

[2019-06-04 20:48] #16 closed, assigned to nobody

[2019-06-06 21:07] nlharris opened #29 ""Learn more" button does nothing"
Clicking the "learn more" button near the top of the home page doesn't seem to do anything. I don't know what to change to try to fix it, since the button is a black box. Hoping Yo can figure it out...

[2019-06-06 21:13] nlharris opened #30 "Add OBF membership page to menu bar"
I  just noticed that the About OBF page said, "The OBF is open to anyone who is interested in promoting open source bioinformatics / open science. Please see the Membership page for more information." -- and there was no link to the Membership page! So I added one, but it still seems like this should be on the menu bar (perhaps under About).

[2019-06-06 21:35] yochannah commented on #30
added under about!

for reference, this can be managed under appearance > menus  - and then select either the bosc menu or the main menu

[2019-06-06 21:35] #30 closed, assigned to nobody

[2019-06-06 21:46] nlharris commented on #30
oh yeah, i forgot 🙈
thanks!

[2019-06-07 20:57] nlharris opened #31 "Add posters to schedule page"
Add a table of posters to https://www.open-bio.org/events/bosc/schedule/ (see https://www.open-bio.org/wiki/BOSC_2017_Schedule for an example). @cjfields is this something you could take on? And perhaps @yochannah could help us to set it up to suck in a gsheet as for the talk schedule?

[2019-06-07 20:58] nlharris opened #32 "Add "at a glance" schedule overview to schedule page"
See https://www.open-bio.org/wiki/BOSC_2017_Schedule for example. Can we also do this with gsheets, or would it look nicer if it were in the page style?

[2019-06-07 21:47] yochannah commented on #31
Sure, let me know when the poster slreadsheet list is ready and I'll glue
it in to the homepage!

On Fri, 7 Jun 2019, 21:57 Nomi Harris, <notifications@github.com> wrote:

[2019-06-11 00:04] nlharris commented on #32
I did a quick & dirty version of this by screenshotting our gsheet.

[2019-06-12 00:40] nlharris commented on #26
@yochannah if you can remind me how to edit the footer i can do this myself...

[2019-06-12 20:16] yochannah commented on #26
Main footer: https://github.com/OBF/homepage/blob/master/footer.php
BOSC footer: https://github.com/OBF/homepage/blob/master/footer-bosc.php

On Wed, Jun 12, 2019 at 1:40 AM Nomi Harris <notifications@github.com>
wrote:

[2019-06-12 20:48] yochannah commented on #31
The, err, slreadsheet, is added. :)

[2019-06-12 20:48] #31 closed, assigned to nobody

[2019-06-12 21:52] yochannah commented on #32
@nlharris could you take a look at the new tablepress plugin I've added?

<img width="1059" alt="image" src="https://user-images.githubusercontent.com/9271438/59388713-6313d180-8d64-11e9-90d2-ae45fb28a2c5.png">
![image](https://user-images.githubusercontent.com/9271438/59388794-9fdfc880-8d64-11e9-909f-bb503cf1723a.png)

It offers relatively straightforward table editing with no frills to speak of

[2019-06-19 03:13] nlharris opened #34 "Changes to OBF "donate" page"
https://www.open-bio.org/donate/
- [x] Add "Donate" (or "Support the OBF") to About menu (and point it to the Donate page)
- [x] "I noticed you only link to Click&Pledge.  I wonder whether something like this makes sense: "you can donate to OBF, including [via PayPal](http://spi-inc.org/projects/obf/) and [online by credit card](https://co.clickandpledge.com/advanced/default.aspx?wid=66788#)"
- [x

[2019-06-19 03:22] nlharris commented on #34
Added "Donate" to About menu. Added mention of sponsorship to the Donate page (in a very basic way--this page is pretty boring. Should we add a photo or something?). #2 turned out to already be on the Donate page, but with a wording error, which I fixed.

[2019-06-19 03:23] #34 closed, assigned to nlharris

[2019-06-20 05:39] nlharris commented on #29
hey, i gave it another go and i fixed the button! with the visual editor!

[2019-06-20 05:39] #29 closed, assigned to nlharris

[2019-07-03 08:58] #12 closed, assigned to nobody

[2019-07-03 08:59] yochannah commented on #18
fixed as part of #28

[2019-07-03 08:59] #18 closed, assigned to nobody

[2019-07-03 09:00] yochannah commented on #3
fixed as part of #35

[2019-07-03 09:00] #3 closed, assigned to nobody

[2019-08-04 19:53] nlharris opened #37 "Add Malvika to Board"
on https://www.open-bio.org/ and https://www.open-bio.org/board/

[2019-08-04 19:55] nlharris commented on #32
The tablepress plugin could be cool but was fancier than I wanted to deal with, so I just ended up putting up screenshots of the schedule overview from a gsheet and that worked well enough.

[2019-08-04 19:55] #32 closed, assigned to nobody

[2019-08-04 19:55] nlharris commented on #27
@yochannah is this something you could do (when you get a chance)?

[2019-08-04 19:55] #26 closed, assigned to nobody

[2019-08-04 19:56] #24 closed, assigned to nobody

[2019-08-07 12:22] peterjc opened #38 "Link on travel fellowships page(s) to blog posts"
https://www.open-bio.org/travel-awards/ does not as far as I can see link to https://www.open-bio.org/category/travel-fellowship/

We could add a link to this paragraph:

But likely elsewhere would make sense as well?

[2019-08-08 21:39] nlharris opened #39 "Make new page for BOSC 2020"
https://www.open-bio.org/events/bosc/ should always point to the latest BOSC page.
The current 2019 page should move to https://www.open-bio.org/events/bosc2019/ and should appear as a new menu item under Events.
The new BOSC 2020 page should say "BOSC 2020" as the leftmost top menu item.
At some point, the BOSC subpages such as Schedule will also need to move to new URLs with 2019 in them so we c

[2019-08-10 22:48] nlharris commented on #38
I added a link to that paragraph; didn't see any other obvious places.

[2019-08-10 22:51] nlharris commented on #37
I know Yo and I can edit the website, but we shouldn't be the only people who have to do it--are others able to do this kind of thing?

[2019-08-10 23:06] nlharris commented on #37
Ok, I added a Board Member Profile (found on the sidebar in the WP dashboard) for Malvika, and now she is showing up...first. I have no idea how to set the order of the board members. @yochannah, do you know?

[2019-08-11 12:42] yochannah commented on #37
Looking at the [output code](https://github.com/OBF/homepage/blob/master/board.php#L23-L54), there's no ordering, so I'll need to add a custom ordering parameter - shouldn't take too long. Which of these sounds better?

- alphabetic
- president, secretary, treasurer, alphabetic
- every person gets a number assigned to them so we can weight their entries manually.
- other?

I'd also suggest somethi

[2019-08-11 14:25] hlapp commented on #37
Either that, or chronologic after the officers. I have a slight preference towards alphabetic, but so long as officers are listed first, the ordering of the Directors At-Large doesn't matter much to me.

[2019-08-12 10:05] peterjc commented on #38
Thanks Nomi.

This is better, but I think we're not promoting the blog posts enough - both as evidence of the programme's impact, but also as an indication of the scope for potential applicants. How about expanding the opening paragraph?

We could add:

[2019-08-12 20:46] nlharris commented on #38
Sure, that sounds good to me. Do you want to add that yourself?

[2019-08-13 10:45] peterjc commented on #38
Done, thanks for the comments & feedback Nomi, Hilmar.

[2019-08-13 10:45] #38 closed, assigned to nobody

[2019-08-18 22:13] nlharris commented on #37
I agree that we should list president, secretary, treasurer, then alphabetic or chronological (I'm ok with either).

[2019-11-18 18:17] hlapp opened #40 "Custom ordering for Board members on website"
Looking at the [output code](https://github.com/OBF/homepage/blob/master/board.php#L23-L54), there's no ordering, so I'll need to add a custom ordering parameter - shouldn't take too long. Which of these sounds better?

- alphabetic
- president, secretary, treasurer, alphabetic
- every person gets a number assigned to them so we can weight their entries manually.
- other?

I'd also suggest somethi

[2019-11-18 18:18] hlapp commented on #40
Either that, or chronologic after the officers. I have a slight preference towards alphabetic, but so long as officers are listed first, the ordering of the Directors At-Large doesn't matter much to me.

[2019-11-18 18:19] hlapp commented on #40
@yochannah did I read this right that you volunteered to care of this?

[2019-11-18 18:20] hlapp commented on #37
I moved the ordering question to its own issue (#40). This being about adding Malvika to the Board, that's done, right? @nlharris can you close if you agree?

[2019-11-18 18:27] nlharris commented on #37
Yes, Malvika is listed on https://www.open-bio.org/ and https://www.open-bio.org/board/.

[2019-11-18 18:27] #37 closed, assigned to nlharris

[2019-11-20 16:58] hlapp opened #41 "Make past Board meeting minutes easily findable"
Past Board meeting minutes are a major artifact of our operations, and it should take people almost no effort to find them. Can we make it a menu item, or at least a major heading on the Board page? Right now (see #13), they're inconspicuously as "here" in a sentence in the first paragraph, and (IMHO) easily missed.

[2019-11-23 21:56] nlharris opened #42 "Fix styling of BOSC 2020 and 2018 in "About BOSC" page"
I think there must be some postprocessing styling going on that's resulting in this weird formatting:
![Screen Shot 2019-11-23 at 1 50 46 PM](https://user-images.githubusercontent.com/348704/69485751-bcdef400-0df8-11ea-8775-233978f0e583.png)
because I don't see any of that in the html:

`<ul class="bosc-timeline bosc-history"><li><a href="/events/bosc/">BOSC 2020</a> Toronto, Canada (as part of Bi

[2019-11-24 00:30] nlharris commented on #39
I think I managed to get this done.
https://www.open-bio.org/events/bosc/ is now the BOSC 2020 page.  i want https://www.open-bio.org/events/bosc/ to always be the current BOSC page. I don’t want visitors to have to do any extra work when they get to that page in order to see the latest info. The generic BOSC page is the “About BOSC” page: https://www.open-bio.org/events/bosc/about/

I did get the

[2019-11-24 01:44] nlharris commented on #27
Obsolete-- /keynotes/ now is a stub for 2020, and the 2019 page is https://www.open-bio.org/events/bosc-2019/bosc-2019-keynote/

[2019-11-24 01:44] #27 closed, assigned to nobody

[2019-11-24 19:40] nlharris commented on #41
![Screen Shot 2019-11-24 at 11 39 29 AM](https://user-images.githubusercontent.com/348704/69500352-333e2d80-0eaf-11ea-9081-e789222b08a4.png)
Does this look ok?

[2019-11-24 21:53] hlapp commented on #41
I think so. We may still want to put all past meeting minutes under a Github repo, but that's a different story from making them easily findable, and it's the latter that is of immediate priority.

[2019-11-24 21:58] nlharris commented on #41
Ok, so can we close this issue?

[2019-11-24 22:14] hlapp commented on #41
Ah, I hadn't realized that this isn't just a design but implemented. Yes, I think so.

[2019-11-24 22:14] #41 closed, assigned to nobody

[2019-11-25 22:10] yochannah commented on #42
Yep, the links were set to display as block and not inline I'll PR this in a sec:

<img width="643" alt="image" src="https://user-images.githubusercontent.com/9271438/69582061-accd3d00-0fcf-11ea-99dc-c000f1eb5636.png">

[2019-11-25 22:42] yochannah commented on #39
@nlharris the main new page looks good to me. Looking at some of the other things:

- I think we found a wordpress feature: it appears that a number at the end of the URL (e.g. https://www.open-bio.org/events/bosc/2019/ ) will just go to its parent's URL - example - random number - https://www.open-bio.org/events/bosc/2034534589/  - and getting it to play nice the way we want it is tricky it seems

[2019-11-25 22:43] nlharris commented on #39
1. Agree; let it go
2. I think the subpages that needed to be moved are moved (but will double-check). Some will instead be revised (e.g., the abstract submission page).
3. I don't think there's anything you need to do on this issue; thanks for asking!

[2019-11-25 22:48] yochannah commented on #23
picking up an old thread - I have the contents of this repo checked out into the wp-content/themes folder. Is that the folder you printed out above, @hlapp ? I'm running a clone of the site and have no uncommitted files in the wp-content/theme/obf-new directory.

@peterjc - I think we probably shouldn't .gitignore things in the wp-* folders - content is hosted separately (I can't remember where of

[2019-11-26 16:04] hlapp commented on #23
The `git status` command is from the folder `wp-content/themes/obf-new`, i.e., the root of the cloned repo.

@yochannah if you get a fresh clone of the repo, of course there won't be any uncommitted files in the `wp-content/themes/obf-new` directory. The reason these are there is because this directory wasn't empty on the server when I overlaid the repo content on top of it. If none of these files

[2019-11-26 16:38] yochannah commented on #23
In a brand new clone of the theme there shouldn't be any cruft, so I'm a little confused. Is it possible that these are dev files that were deployed manually by Depashree or me on the dev server? In that case, maybe rename the obf-new folder to obf-new-old (hah!) and clone the theme afresh + make sure we have the right theme selected in the UI? I'm pretty sure it's safe to delete those files - I'm

[2019-11-26 16:59] hlapp commented on #23
Perhaps I'm not expressing myself well. By "overlay on existing content" I mean I cloned the repo on top of a populated directory that was already there. This means files coming from the repo will add to or replace files that already existed in the directory. However, files that already existed but aren't present in the repo will become "untracked". Is this maybe clearer?

I don't think they can c

[2020-01-05 16:35] sarthak-sehgal opened #44 "Add GSoC 2020 page to the events sub-menu"
The GSoC page in the OBF website (https://www.open-bio.org/events/gsoc/) is now up to date.

As discussed with @yochannah, we are planning to use the main OBF website for project ideas and all updates this time instead of the GitHub templates page (https://obf.github.io/GSoC/). Suggestions are welcome.

I am unable to find the "Appearance" tab in the Wordpress dashboard. The GSoC 2020 page needs t

[2020-01-05 18:10] yochannah commented on #44
Done - I suspect as an editor maybe you don't have the rights to edit the menu

[2020-01-05 18:10] #44 closed, assigned to nobody

[2020-01-05 18:14] yochannah commented on #42
fixed by #43

[2020-01-05 18:14] #42 closed, assigned to yochannah

[2020-01-05 23:28] nlharris opened #45 "Update OBF Board officers"
https://www.open-bio.org/board/

[2020-01-06 00:00] yochannah commented on #45
Whoops - I saw the email for this but not the self assignation, sorry! Came here to update that I'd done the basics - please do double check - @HLWiencko might want to update her bio at some point?

<img width="1144" alt="image" src="https://user-images.githubusercontent.com/9271438/71788139-90351380-3017-11ea-99fc-f3de34453c5c.png">

[2020-01-06 01:45] nlharris commented on #45
Haha, no worries, @yochannah -- you are welcome to tackle any website issues you like!

[2020-01-06 01:45] #45 closed, assigned to nlharris

[2020-02-02 16:41] sankha555 commented on #40
Hi,
I have gone through the codebase and have found it to be great. If this issue is still open for contribution, I would like to work on it. Can I do so and if yes then can someone please guide me in this regard? Thanks!

[2020-02-06 22:54] #39 closed, assigned to nobody

[2020-02-06 23:05] nlharris opened #46 "Update BOSC submission page"
https://www.open-bio.org/events/bosc/submit/

I can do most of it myself but would like help with the section about open licenses, so I will make a separate ticket for that.

[2020-02-19 20:57] yochannah commented on #40
Hey @sankha555 - thanks so much for volunteering! I missed this earlier and @nlharris kindly just brought this to my attention. Are you still interested?

To get started - my suggestion would be to do the following:

1) clone the site
2) set up a [wordpress](https://wordpress.org/support/article/how-to-install-wordpress/) install on your machine (To host it, I use [MAMP](https://www.mamp.info/en/)

[2020-02-28 01:37] nlharris opened #48 "BOSC 2019 link on Events page goes to main BOSC page"
@yochannah, thanks for adding the missing events to the Events page! When you get a chance, can you make the BOSC 2019 link go to https://www.open-bio.org/events/bosc-2019/ rather than https://www.open-bio.org/wp/events/bosc/ (which redirects to the main (now 2020) BOSC page)? Thanks!

[2020-03-05 20:42] yochannah commented on #48
Done! :) I'll close the issue for now, but if I've made any mistakes please feel free to re-open

[2020-03-05 20:42] #48 closed, assigned to nobody

[2020-03-09 21:40] nlharris opened #49 "Style of hyperlinked text too similar to normal text"
esp. in a header; see screenshot.
The first sentence is hyperlinked; the second (starting with "Look") isn't.
<img width="518" alt="Screen Shot 2020-03-09 at 2 38 51 PM" src="https://user-images.githubusercontent.com/348704/76259931-ee4ac680-6213-11ea-88ce-3eb69bb8f829.png">

[2020-03-23 23:44] nlharris commented on #46
I updated the text (and will add submission instructions soon) but could use help fixing the bad formatting (inconsistent indents, etc.). Hoping @yochannah can take a look at some point!

[2020-03-23 23:45] nlharris opened #50 "Fix formatting of BOSC home page"
https://www.open-bio.org/events/bosc/ is not terrible but could use improvement

[2020-03-30 22:06] nlharris opened #51 "Fix formatting on BOSC submission page"
Formatting on https://www.open-bio.org/events/bosc/submit/ is wonky--in particular, the indenting is uneven. I don't think @yochannah has time to fix this, so I'm hoping someone else who's good at Wordpress can help.
We are opening submission TOMORROW. I'd like this page to look a bit less embarrassingly bad!

[2020-03-30 22:07] nlharris commented on #46
Format improvements needed: #51

[2020-10-12 12:34] saptarsi96 commented on #51
Hi, @nlharris Can I work on this issue?

[2020-10-12 12:35] saptarsi96 commented on #49
Hi, @nlharris Can I work on this issue?

[2020-10-12 15:45] yochannah commented on #49
Hey @saptarsi96 please go ahead! I'll be the technical helper for this task, please feel free to mention me - @yochannah - with any questions :)

[2020-10-12 15:47] yochannah opened #53 "wordpress styles refactor"
in many place we have repeated styles that aren't necessary; it would be nice to cut down on the lines of duplicate code and/or add a pre-processor + good docs to the CSS.

It's also important to note that where possible styles should automatically be applied to content: right now there are many cases where someone may be using the WYSIWYG block editor in wordpress and accidentally delete a class

[2020-10-12 15:48] yochannah commented on #51
@saptarsi96 please go ahead! let me know if you have any questions on the way :)

You might also be interested in #53 - it has a sort of related but over-arching issue

[2021-01-17 06:10] nlharris opened #55 "Weird redirect"
If you go to the BOSC 2021 page (https://www.open-bio.org/events/bosc-2021/) and click on the logo in the top left, it points to https://www.open-bio.org/events/bosc-2021/bosc, which mysteriously redirects to https://www.open-bio.org/2017/10/28/bosc_2017_report/
???

[2021-02-11 18:52] nlharris opened #56 "fix links on /events/"
CollaborationFest links for 2019 and 2020 are wrong. 2020:  https://www.open-bio.org/events/bosc-2020/bosc-2020-collaborationfest/

[2021-02-11 18:58] heuermh commented on #56
2019: https://www.open-bio.org/events/bosc-2019/bosc-2019-collaborationfest/

[2021-02-19 21:32] #46 closed, assigned to nlharris

[2021-03-17 07:07] tbm opened #57 "Hovering over menu doesn't allow you to click"
When I hover over "About", I get a drop-down menu (Membership, Donate, board), but "About" itself can also be clicked.

Unfortunately, Events, Projects and Travel Awards only give a drop-down menu but the topic itself is not clickable - I think it should.  e.g. I want to click on "Travel Awards" directly without having to choose one of the entries in the drop-down menu.

[2021-03-17 16:15] nlharris commented on #57
Thanks for reporting that, @tbm! We don't have a lot of web-capable volunteers right now, but we will keep this request in mind!

[2021-03-22 15:50] nlharris opened #59 "update GSOC pages"
the pages under https://www.open-bio.org/events/gsoc/ need some updates - for instance 2020 to 2021 on this page:
https://www.open-bio.org/events/gsoc/gsoc-overview/

[2021-03-22 16:14] yochannah commented on #59
@nlharris I updated this page a couple of days ago and I think all mentions of 2020 are appropriate now, but  it might be I missed one - could you screenshot it or describe where it needs to be fixed?

[2021-03-22 19:03] nlharris commented on #59
my bad! i found that comment in email and didn't realize it had already been addressed. i should have checked first!
is https://www.open-bio.org/events/gsoc/gsoc-contact/ up to date? it still lists you as an organisation administrator. if that's also still correct, you can close this ticket!
thanks!

[2021-03-22 19:05] yochannah commented on #59
It is! 😁

[2021-03-22 19:05] #59 closed, assigned to nobody

[2021-04-06 03:19] manishsamota opened #60 "Really great"

[2021-04-06 15:59] nlharris opened #61 "update GSOC pages"
the pages under https://www.open-bio.org/events/gsoc/
need some updates - for instance 2020 to 2021 on this page:
https://www.open-bio.org/events/gsoc/gsoc-overview/
(there are probably more places as well)

this shouldn't be my job. who can do this?

[2021-04-06 17:33] peterjc commented on #60
OBF was selected for GSoC 2021, but which project? See https://www.open-bio.org/events/gsoc/gsoc-contact/ for contacts, e.g. https://groups.google.com/g/obf-gsoc-general but specific potential mentors are also worth contacting.

[2021-04-06 17:33] #60 closed, assigned to nobody

[2021-04-07 09:13] yochannah commented on #61
Dear Nomi,

I've Ctrl+F searched to try and find mentions of 2020 on the linked page, and all 2020s present are appropriate (e.g. referring to our participation in the past during 2020). If there are other areas that are incorrect that I haven't spotted, I'm happy to fix them :) Please let me know, or just close the issue if you think the mentions of 2020 are okay as is.

[2021-04-08 16:47] nlharris commented on #61
hi yo, once again i was just passing on the message without investigating it...i have to admit i did not examine the pages in question. if you think they're good to go, that's good enough for me! thanks for checking!

[2021-04-08 16:47] #61 closed, assigned to nobody

[2021-04-15 22:44] nlharris commented on #55
@monicacecilia noticed that, more annoyingly, https://www.open-bio.org/events/bosc redirects to https://www.open-bio.org/2017/10/28/bosc_2017_report/
but https://www.open-bio.org/events/bosc/ (with a closing /) redirects to https://www.open-bio.org/events/bosc-2021/ as we want it to!

We don't know why the unwanted redirect happens or how to fix it (@khokamp and I both took a look and couldn't fig

[2021-04-19 00:23] nlharris commented on #55
woohoo! i think i managed to fix this (by adding two redirects to https://www.open-bio.org/wp-admin/tools.php?page=redirection.php)

[2021-04-19 00:23] #55 closed, assigned to nlharris

[2021-04-19 00:32] nlharris commented on #56
fixed

[2021-04-19 00:32] #56 closed, assigned to nlharris

[2021-06-17 22:36] nlharris opened #62 "http://open-bio.org/news/ should point to the blog"
should redirect to http://open-bio.org/blog/
instead it gives you "Error establishing a database connection" -- ??
![Screen Shot 2021-06-17 at 3 34 52 PM](https://user-images.githubusercontent.com/348704/122480468-c3583200-cf81-11eb-94e7-8fdcfee4013b.png)

[2021-09-12 05:10] nlharris opened #63 "OBF page footer doesn't include Slack link"
Shouldn't it?
Do we have a Slack invite link that doesn't expire?

[2021-09-26 22:15] nlharris opened #64 "Broken images for "Upcoming events" on open-bio.org"
![Screen Shot 2021-09-26 at 3 11 02 PM](https://user-images.githubusercontent.com/348704/134825949-656ba456-c168-47ce-af93-ee5c6099b426.png)

I have a vague feeling that this may have happened before. Anyone know how to fix it? Maybe @yochannah is the only one?

[2021-10-19 18:03] cjfields opened #65 "Updating list of retired projects"
Per the monthly Board meeting the following should be addressed:

* Updating list of retired projects, missing BioSoap and BioCorba, & standardising language (to match affiliation policy):
  * https://www.open-bio.org/projects/#retired-projects
  * https://www.open-bio.org/wiki/Projects#In_Memorium

[2021-11-09 18:18] peterjc commented on #65
Found some text to help writing a one line description of these two:
https://www.open-bio.org/wiki/Newsletter:2001_Winter#INCOMPLETE_PROJECT_BRIEFS_.26_ANNOUNCEMENT_OF_NEW_PROJECTS

BioCORBA: Aimed to support biological analysis pipelines remotely via [CORBA](https://en.wikipedia.org/wiki/Common_Object_Request_Broker_Architecture) and a choice to programming languages.

BioSOAP: Aimed to support b

[2021-11-09 18:59] nlharris commented on #65
thanks, peter. https://www.open-bio.org/projects/#retired-projects now includes biosoap and biocorba.
(it wasn't quite as trivial to add them as i expected, because it turns out each project has its own page, but it wasn't too hard.)

[2021-11-09 18:59] #65 closed, assigned to nlharris

[2021-11-09 19:21] nlharris opened #66 "Retire the old OBF wiki?"
We still have pages like https://www.open-bio.org/wiki/Main_Page that are out of date and replaced by the new website. There's a fairly subtle banner that says "Please visit our ***NEW*** OBF/BOSC website: https://www.open-bio.org/" but it doesn't say that the page you're looking at is obsolete.

What we don't want to lose, and haven't figured out how to easily port to the new website, is the hist

[2021-11-10 08:26] peterjc commented on #65
Yeah, same idea as how the board members. I've asked on Slack in case anyone can improve the descriptions - ideally someone involved first hand.

[2021-11-11 12:29] peterjc commented on #66
Due to the old content like old BOSC pages, I don't think we want to turn just off the wiki.

Tweaking the banner seems sensible (I don't know how to do that, have not tried).

Also do you think replacing the content on some key pages like https://www.open-bio.org/wiki/Main_Page with an explicit redirection would make sense?

[2021-11-11 12:29] peterjc commented on #62
Working now, hopefully a transient error?

[2021-11-11 12:29] #62 closed, assigned to nobody

[2021-11-16 18:29] nlharris opened #67 "Add BOSC 2022 to upcoming events"
https://www.open-bio.org/events/

[2021-11-16 18:30] nlharris opened #68 "Make BOSC 2022 page"

[2021-11-16 18:32] nlharris opened #69 "Font too big in lists (bullet points or numbered) on OBF pages"
e.g. on https://www.open-bio.org/2021/10/06/two-new-members-elected-to-obf-board/, the numbered list near the end
https://www.open-bio.org/2021/09/11/obf-public-board-meeting-2021-09-21/ bullet point lists

but on BOSC pages (at least in some blocks) the font size in bullet point lists is fine, e.g. https://www.open-bio.org/events/bosc-2021/

[2021-12-03 02:34] nlharris commented on #64
@hzahroh if you're looking for a starter issue to work on the OBF website, maybe you could take a look at this one. It makes me sad to see those broken images on our home page!

[2021-12-03 08:19] hzahroh commented on #64
Sure, let me try @nlharris

[2021-12-07 05:45] hzahroh commented on #64
Hi @nlharris, please kindly check whether this is ok now.
<img width="1330" alt="Screenshot 2021-12-07 at 12 44 54" src="https://user-images.githubusercontent.com/70099457/144973363-09c626de-b277-4d07-b912-8ad7a08c2795.png">

[2021-12-07 05:47] nlharris commented on #64
That looks great! Thanks! 👍
While you're there, can you change "Upcoming events" to just say "Events" (since in fact the listed events are in the past)?

[2021-12-08 04:14] hzahroh commented on #64
It's the least I could do 👍🏻.
For the "upcoming events", I think we need Cpanel access to do that. I have searched everywhere using my WordPress account but couldn't find it.

[2021-12-08 05:05] nlharris commented on #64
I'm not sure what that means or how to get it. :-(

[2021-12-08 05:09] hzahroh commented on #64
It's the main access to the whole hosting service. We probably need to ask others about who has CPanel access.

[2021-12-08 20:06] hlapp commented on #64
@hzahroh can you say why you think this needs Cpanel access? Regarding Wordpress administration, the only task that needs Cpanel is backup, restore, and upgrade. If you believe the issue is due to files in the filesystem, these are synced from and thus coming from the GitHub repo. But perhaps it's something else?

[2021-12-09 17:15] hzahroh commented on #64
@hlapp @nlharris may I take this discussion to our emails or slack?

[2021-12-14 17:28] hzahroh commented on #64
"The upcoming events" has been changed to "Events" now.
![image](https://user-images.githubusercontent.com/70099457/146049143-2cdbc5d2-382c-440e-b06a-2698c4f95264.png)

[2022-01-04 01:23] nlharris commented on #69
I think `<ul/>` makes the font too big (maybe also `<ol/>`)?

[2022-01-11 17:38] #68 closed, assigned to nobody

[2022-01-11 17:39] nlharris commented on #64
Thanks so much for fixing this, @hzahroh!

[2022-01-11 17:39] #64 closed, assigned to hzahroh

[2022-01-11 17:40] nlharris commented on #67
This is done, but https://www.open-bio.org/events/ shows some exposed html. @hzahroh is this something you could fix when you get a chance?

[2022-01-11 17:42] nlharris commented on #63
I just stumbled across this deficit again and went to make a ticket and saw I'd already made one. Can someone make an OBF slack invite that doesn't expire in 30 days? I don't seem to have permission to do that (or maybe I've forgotten how).

[2022-01-11 17:51] nlharris opened #70 "Rehome this repo?"
Why is this repo still a fork from kushinauwu/OBF-Homepage-New? Shouldn't it live directly in the OBF org? I don't know how to move it. If we did move it, would we lose history?

[2022-01-11 19:45] hlapp commented on #70
It does live directly in the OBF org. The fact that it is a fork (which really only means that it started as one) is merely some meta-information that GitHub keeps around in order to change and tailor certain behaviors (in particular for pull requests) from their defaults for repos that didn't start as a fork.

Now, arguably, those changes in default behavior for pull requests are neither desirabl

[2022-01-11 19:52] hlapp commented on #67
Note that the [event detail page](https://www.open-bio.org/events/bosc-2022/) renders correctly. So it seems to be something that the events overview does with the metadata for the actual events.

[2022-01-23 21:52] nlharris opened #71 "Update Code of Conduct page"
Now that the new CoC has been approved by a membership vote, I think we can update https://www.open-bio.org/code-of-conduct/ to align with https://github.com/OBF/obf-docs/tree/master/code-of-conduct.
@peterjc @gedankenstuecke @hzahroh

[2022-01-23 21:54] nlharris opened #72 "Add Hilya to members of this repo so she can be assigned tickets"
@hzahroh is on the list of OBF org members (https://github.com/orgs/OBF/people) but for some reason if I @ her here, GitHub doesn't know about her, and she can't be assigned tickets. I'm not sure I have enough powers to change that. Several of you (including @peterjc, @hlapp, @HLWiencko and even Michael H and Yo) are owners of that org, but I'm just a Member.

[2022-01-23 22:03] nlharris opened #73 "Blog post doesn't appear on https://www.open-bio.org/blog/"
https://www.open-bio.org/2022/01/04/obf-membership-referendum/ can be accessed in various ways (for example, as the Previous post from https://www.open-bio.org/2022/01/20/iscbacademy-webinar-feb-22-yo-yehudi/) but for some reason is not listed on https://www.open-bio.org/blog/ . I checked that it has all the usual categories checked off (including Uncategorized and Blogroll (what even is that?)).

[2022-01-23 23:53] heuermh commented on #72
I am only a Member not an Owner of the organization, but I can be assigned tickets.

Is it due to membership in the website-maintainers Team?
https://github.com/orgs/OBF/teams/website-maintainers

[2022-01-24 09:55] peterjc commented on #72
That sounds likely, adding Hilya to that team now...

[2022-01-24 15:01] peterjc commented on #71
How does it look now?

[2022-01-24 16:42] peterjc commented on #73
Not just you seeing this - I do too. I think I noticed earlier, but wrongly assumed it was a caching issue and didn't investigate any further.

[2022-01-24 16:46] peterjc commented on #73
It does not look like the tags are important.

Are the ``home-*`` categories relevant?

[2022-01-24 18:10] hlapp commented on #72
Seems to work now.

[2022-01-24 18:24] nlharris commented on #72
Thanks, Peter!

[2022-01-24 18:24] #72 closed, assigned to peterjc

[2022-01-24 20:03] peterjc commented on #72
Thank @heuermh for the diagnosis

[2022-01-26 01:04] nlharris commented on #71
looks good -- i fixed a typo and added a hyperlink for BOSC.
the text "voted on by our members in January 2022" can be made to hyperlink to the blog post i drafted about that (currently still private) once it is posted.

[2022-01-26 10:32] peterjc commented on #71
Thanks - shall we leave this issue open until that blog post is live and we've added a link?

[2022-01-27 05:46] nlharris commented on #71
yes. i can make the blog post live whenever you (or someone else on the board) approve it.

[2022-01-27 23:12] nlharris commented on #71
done

[2022-01-27 23:12] #71 closed, assigned to nobody

[2022-01-28 05:02] hzahroh commented on #72
Thank you, all
On 25 Jan 2022 03.03 +0700, Peter Cock ***@***.***>, wrote:

[2022-01-28 05:11] hzahroh commented on #67
I think we can close this issue now?

[2022-01-28 05:11] hzahroh commented on #73
Where do you want it to be?

[2022-01-28 05:16] hzahroh commented on #63
Do admins or the owner of OBF slack workspace have an option to create a link that doesn't expire in 14-30 days or never expires? Because for discord, the owner has this option.

[2022-01-28 05:44] nlharris commented on #63
I'm not sure. I'm not one of the owners. Maybe @hlapp or @peterjc is?

[2022-01-28 05:46] nlharris commented on #73
It should be one of the posts shown on https://www.open-bio.org/blog/. They are shown in reverse chronological order, so with a date of 2022/01/04 it should be between the "My virtual participation" and "ISCBacademy" posts.

[2022-01-28 05:47] nlharris commented on #67
No, there's still a problem to be fixed: there is some raw html showing on https://www.open-bio.org/events/. See screenshot below.
![Screen Shot 2022-01-27 at 9 46 41 PM](https://user-images.githubusercontent.com/348704/151494093-4bc65a98-2d60-4c30-8028-b7fbf53f1079.png)
.

[2022-01-28 09:17] peterjc commented on #63
We don’t have a non-expiring Skack invitation link though (just one for the BOSC slack), it seems they stopped offering this ☹️

[2022-01-28 09:32] gedankenstuecke commented on #63
With Open Humans we have been using [slackin](https://github.com/rauchg/slackin), which provides a landing page for people to request an invite and the `slackin` app then automatically sends the invite. I haven't personally set it up though, so I'm not sure what exactly the requirements for doing so are.

[2022-01-28 10:05] hzahroh commented on #63
Thank you @gedankenstuecke, I'll look into slackin. Thanks Peter for confirming

[2022-01-28 15:41] hlapp commented on #67
I'd argue in agreement with @hzahroh that the issue _can_ and in fact _should_ be closed. The subject is "Add BOSC 2022 to upcoming events", which has arguably been completed.

The remaining issue is arguably a bug in the Wordpress code that does the rendering of the events listing page. We can post that as a separate issue for future investigation, or we can remove the hyperlink to ISMB 2022 from

[2022-01-28 19:34] nlharris commented on #67
Ok, fair enough; indeed, the request in this issue has been satisfied and the formatting thing is a separate issue.

[2022-01-28 19:34] #67 closed, assigned to hzahroh

[2022-01-28 19:36] nlharris commented on #67
Oh, and guess what? the exposed html turned out to be my error. Now fixed! https://www.open-bio.org/events/

[2022-03-11 08:55] ShwetKhatri2001 commented on #49
Hi @nlharris ! I'd like to work on this issue if we still have it.

[2022-03-11 09:12] yochannah commented on #49
@ShwetKhatri2001 I've just had a look at that old PR and it doesn't fix the issue, so if you can pick it up that would be great!

[2022-03-16 05:03] hzahroh commented on #63
The footer now includes Slack link & logo. But I haven't checked slackin 😣🤭 @nlharris
<img width="475" alt="Screenshot 2022-03-16 at 11 12 19" src="https://user-images.githubusercontent.com/70099457/158520093-5531d59e-b8f3-42e1-9464-77358e9925cd.png">

[2022-03-16 05:04] hzahroh commented on #73
This is done too @nlharris @peterjc
<img width="1092" alt="Screenshot 2022-03-16 at 11 12 00" src="https://user-images.githubusercontent.com/70099457/158520325-59b13e50-0e79-4c30-9fd8-bf35c9bd580a.png">

[2022-03-16 05:07] nlharris commented on #63
i'm able to get to the open-bio slack through the logo in the footer now! thanks!!

[2022-03-16 05:09] nlharris commented on #73
awesome, thanks!! how'd you fix it?

[2022-03-16 05:09] #73 closed, assigned to nobody

[2022-03-16 05:10] nlharris opened #74 "Some blog posts not showing dates on open-bio.org/blog"
possibly related to #73?
![Screen Shot 2022-03-15 at 10 09 20 PM](https://user-images.githubusercontent.com/348704/158520874-20ed3eba-6394-4ff2-99ec-a952e20c6c30.png)

[2022-03-17 22:33] nlharris commented on #73
i'd love to hear what you did to fix this issue (please email me) so i can fix it myself if it ever happens again!

[2022-03-23 17:28] Hrittik20 commented on #69
Hi @nlharris, I would like to help with this issue. I think if we just change font-size from class ".single-content ul li" to 16px then it should be fine. Should I go ahead with this change?

[2022-03-29 09:03] Hrittik20 commented on #74
Hi @nlharris, can you tell me where I can find the blog file?

[2022-03-30 08:59] yochannah commented on #74
Hey Hrittik - what do you mean by the blog file? Wordpress is based on a php/mysql setup so posts are all stored in the database.

[2022-03-30 09:12] yochannah commented on #74
actually, you probably mean just which page to edit, right? I _think_ it's this one. https://github.com/OBF/homepage/blob/14e698d2a5f09d762f2599941d21e40f7af0399f/home.php

[2022-03-30 09:41] yochannah opened #75 "create static HTML test page"
Testing small style updates is a bit of the pain since it essentially requires a full LAMP setup with wordpress installed. I wonder if we could create a single one-page HTML file that imports the stylesheets and has HTML structured to match the php pages, such that we could use it to quickly review style changes without having to install a full wordpress? Or would this be too hard to maintain, e.g

[2022-03-30 16:59] nlharris commented on #69
Hi @Hrittik20, thanks for offering to help! Yes, please give it a go!

[2022-04-04 20:15] nlharris opened #77 "https://open-bio.org/events/bosc is mysteriously redirecting to https://www.open-bio.org/2005/01/29/bosc-2005/"
For some reason, https://open-bio.org/events/bosc is redirecting to https://www.open-bio.org/2005/01/29/bosc-2005/

This is very bad, because we often give out https://open-bio.org/events/bosc as the main BOSC URL (though https://open-bio.org/events/bosc-2022/ also works).

I don't know when or why this broke, but it'd be great if someone could fix it ASAP! This is a critical period for BOSC, with

[2022-04-04 20:18] nlharris commented on #77
I just discovered that https://open-bio.org/events/bosc redirects to https://www.open-bio.org/2005/01/29/bosc-2005/
but https://open-bio.org/events/bosc/ (with the / at the end) redirects as desired to https://open-bio.org/events/bosc-2022/

[2022-04-04 20:30] nlharris commented on #77
i'm trying to add/edit redirect rules, but now https://www.open-bio.org/bosc/ is not redirecting, but showing /cgi-bin/, which is not what is desired!

however, i think i've fixed  https://open-bio.org/events/bosc, which now directs to the 2022 page.

[2022-04-04 21:25] hlapp commented on #77
@nlharris can you say where you edited this? It still results in the same incorrect redirect for me, using CURL (which isn't affected by any browser cache).

The redirect is indeed issued by WordPress (not Apache). What seems to be at work is some kind of auto-matching of incomplete URLs. For example, `https://open-bio.org/eve` results in a redirect to `https://www.open-bio.org/event-awards/`.
Lik

[2022-04-04 21:28] nlharris commented on #77
i edited in tools -> redirection in the WordPress dashboard.

are you saying that if you click on https://open-bio.org/events/bosc it goes to that 2005 page, not to bosc-2022? weird that it would work for me and not for you.

thanks for noting the other cases of weird redirections. i don't know where those are coming from, and whether there's some sort of overarching rule or feature that's causing

[2022-04-04 21:35] hlapp commented on #77
I am saying that if I curl (on the command line) https://open-bio.org/events/bosc then I get the wrong redirect. I am indeed also getting it by clicking on it. If you don't then it's because of your browser cache. You can verify like this on the command line what others would be seeing:
[code]

Apparently this is actually a known feature of Wordpress. Unsurprisingly, it has upset more people than

[2022-04-04 21:40] nlharris commented on #77
is that plugin something we should get? i don't feel qualified to install it.

i wanted to go to that 2005 page to edit it and add a big "this probably isn't the page you're looking for -- the current BOSC page is [here]", but i can't even find the page -- it doesn't seem to exist in wp.

i hope someone who understands wp better can unravel this!

[2022-04-04 22:04] hlapp commented on #77
It looks like you've now redirected https://www.open-bio.org/2005/01/29/bosc-2005/ to go to the BOSC 2022 page. I've tried (and I saw that you tried) to add a redirect for /events/bosc, but for some reason they don't stick. I don't know why or what's going on there, but the redirect list looks like a complete mess.

[2022-04-04 22:21] nlharris commented on #77
yeah, it's a mess. i didn't add most of those, but was afraid to touch them for fear of breaking something else.

[2022-04-05 21:27] nlharris commented on #63
the slack link in the footer points to https://open-bio.slack.com/
for me that now redirects to https://app.slack.com/client/T0MNP35KR (which doesn't work) but i must have a bad cookie or something, because when i try https://open-bio.slack.com/ in an incognito window it works.
just noting this here for my own future reference. :-)

[2022-04-18 10:09] hzahroh commented on #73
Sure, Nomi. Sorry for my late reply.
First, go to all posts
![image](https://user-images.githubusercontent.com/70099457/163793129-a4704952-91a1-40be-b2f9-b39179e7986f.png)
Then, choose quick edit. Please make sure to fill date and time
![image](https://user-images.githubusercontent.com/70099457/163793233-231d661b-6133-4e36-a2ab-e344b0b6c431.png)
Then, go to categories to ensure the post goes to th

[2022-04-19 03:04] erik-whiting commented on #74
Hello, I am pretty sure I know how to fix this but have a quick question about setup.

I've Dockerized the app and have the WP instance running locally in a container but I can't get beyond **Step 5** in the `README.md`. When I click the link "Import WP Migration" I just see this:

![image](https://user-images.githubusercontent.com/47164199/163908380-7c8b3f1e-444e-409c-81cc-6922b8e344d0.png)

Ther

[2022-04-26 00:31] erik-whiting commented on #74
Howdy @nlharris and @yochannah, just wanted to ping y'all again and bring your attention to [this possible fix](https://github.com/OBF/homepage/pull/78). Let me know if there's anything I can clarify or take care of for you.

[2022-04-26 05:39] nlharris commented on #74
Hey, sorry, I have no idea. Maybe @hzahroh would know?

[2022-05-02 05:43] erik-whiting commented on #74
Hello again @nlharris and @yochannah . Through the magic of Docker and general hackery, I was able to fake my way through enough of the setup to actually test my PR. I can confirm that [this pull request](https://github.com/OBF/homepage/pull/78) fixes the problem in this issue. Let me know if there's anything you'd like me to change!

[2022-07-15 20:18] vdauwera commented on #77
I have some experience dealing with web redirects, lmk if you'd like me to take a look

[2022-07-15 20:25] hlapp commented on #77
The redirects are issued by WP, based on an algorithm and a table. The problem here is how to make most go away (because they're unhelpful or outright wrong) but keep a few (which correct mistakes or "move" pages). And do so in fuzzy WP.

[2022-07-15 20:27] vdauwera commented on #66
Would you be open to archiving the wiki content in a github repo? That would reduce "clutter" while preserving content.

[2022-07-15 21:18] hlapp commented on #66
I'm not opposed but how would it reduce _clutter_? (It would perhaps reduce the load on our shared web-hosting server given that we could then take down one Wikimedia site. But I'm not sure it would make a noticeable dent there.)

[2022-07-15 22:46] peterjc commented on #66
Exporting the MediaWiki history to a repository is attractive (we used https://github.com/peterjc/mediawiki_to_git_md to move some of the OBF projects to GitHub Pages; some other format could work too), and we might then redirect ``https://www.open-bio.org/wiki/*`` to that new location, and turn off MediaWiki?

[2022-07-21 21:34] hlapp commented on #74
Turns out that for some reason this didn't yet fix the issue, see https://github.com/OBF/homepage/pull/78#issuecomment-1191957008

[2022-07-27 18:01] erik-whiting commented on #74
@hlapp this looks like it's working now. Can you double check the news page and confirm you see what I see (working dates)?

[2022-07-27 18:28] nlharris commented on #74
Yes, it seems to be working now! Thanks so much for your help, @erik-whiting!

[2022-07-27 18:28] #74 closed, assigned to nobody

[2022-08-10 19:29] erik-whiting commented on #70
According to [this how-to article](https://ralphjsmit.com/unfork-github-repo), "unforking" can be done via a chatbot. I'll copy and paste the steps from that page for convenience:

I hope this helps!

[2022-09-29 21:09] nlharris opened #79 "how to cite the OBF"
A long time ago, @yochannah asked,

We should add some standard acknowledgement texts that can be used by member projects and any publications about projects that received OBF funding (e.g. GSoC).

[2022-09-30 08:53] peterjc commented on #79
Quoting the older Biopython paper's introduction:

And then the acknowledgements:

(Note the OBF no longer literally hosts the repository and website.)

Quoting the BioJava5 paper introduction:

And their acknowledgments:

Maybe we could have suggested acknowledgement text for member projects, something like that seems fine?

[2022-11-22 16:56] nlharris opened #80 "Events link to BOSC 2022 from OBF home page is broken"
From open-bio.org, the Events menu item "BOSC 2022" goes to https://www.open-bio.org/?page_id=5951 and gets a 404.
(I'm sure this used to work! No idea when / how it broke.)

[2022-11-22 17:01] nlharris opened #81 "BOSC 2022 redirect not working consistently"
https://www.open-bio.org/events/bosc/ redirects to https://www.open-bio.org/?obf-events=bosc-2022 which is a nearly empty page. What happened to the BOSC page?? This needs to be fixed ASAP!

[2022-11-23 16:48] nlharris commented on #81
This is really weird: it seems to behave differently in my two Chrome profiles (work vs personal). In my home profile, https://www.open-bio.org/events/bosc (with or without a final /) redirects correctly to https://www.open-bio.org/events/bosc-2022/. In my work profile, it redirects to https://www.open-bio.org/?obf-events=bosc-2022. (Even if I try to go https://www.open-bio.org/events/bosc-2022/,

[2022-11-23 17:31] idoerg commented on #81
https://www.open-bio.org/events/bosc-2022/ brings up the full page  for me.

I'm not sure about the redirect, looking into it.

[2022-11-23 17:46] idoerg commented on #81
The redirect to did happen from the drop-down menu, and from the events page.  https://www.open-bio.org/?obf-events=bosc-2022 The problem is reproducible.

But opening in an anonymous browser, or clearing the cookies from open-bio on a non-anonymous browser seemed to do the trick for me.

So the good news, is that there is a solution, the bad news is I'm not sure why this is happening, and that th

[2022-11-23 19:24] hlapp commented on #81
Page redirection in Wordpress unfortunately seems be a mess. There's also "partial match" redirection, which is probably at least contributing here.

From what I can see, the BOSC About page sits under `/events/bosc-2021/`: https://www.open-bio.org/events/bosc-2021/about/ (and it's link to BOSC 2022 under the timeline goes to BOSC 2021)
There's no corresponding 2022 page (nor arguably should there

[2022-11-23 19:27] hlapp commented on #81
This does redirect to the full BOSC 2022 page now for me, and my recollection is that this is the behavior desired, i.e., that it redirect to the page of the current BOSC event. So once the 2023 page exists, it would redirect there.

[2022-11-23 20:33] nlharris commented on #81
Now the redirect from /bosc to /bosc-2022 is working from me in both Chrome profiles! Did someone change something? This is really weird.

There are some other issues mentioned here as well (which are not actually tied to this redirect):

- [ ] the BOSC About page sits under /events/bosc-2021/: https://www.open-bio.org/events/bosc-2021/about/
- [x] link on About to BOSC 2022 under the timeline goe

[2022-11-23 23:09] nlharris opened #82 "Issues with About BOSC page"
- [x]  the BOSC About page sits under /events/bosc-2021/: https://www.open-bio.org/events/bosc-2021/about/ . Should be more generic (but what should it be? /events/bosc/about?)
- [x]  link on About to BOSC 2022 under the timeline goes to BOSC 2021
- [x]  About page has various out-of-date bits of text referring to BOSC 2022 as a future event

[2022-11-26 00:13] peterjc commented on #23
I suspect some of the untracked files ought to be checked in, some are in use including these in the footer (cross reference #35):

*	img/social-1_logo-github.svg
*	img/social-1_logo-rss.svg
*	img/social-1_logo-twitter.svg

That brings up a new question - where did these icons come from and are they appropriately licensed for reuse? My guess from a filename search is the same place https://github.

[2022-11-30 01:02] nlharris commented on #80
The menu item successfully goes to the BOSC page now. While "fixed by elves" is nice, it's a bit unsettling that these issues happen and then mysteriously go away for no discernible reason.